*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 238, 241);
}
.primary-btn {
	background-color: #1D4A35;
	padding: 15px 20px;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 18px;
    cursor: pointer;
    transition: .4s;
}
.primary-btn:hover{
    background-color: red;
}
/* google font area start */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* google font area end */
/* hero area start */
.hero-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
    width: 1280px;
	height: 560px;
    margin: 0 auto;
    background-color: #BAEEE1;
    border-radius: 20px;
}
.hero-item-one h5 {
	color: gray;
    font-size: 24px;
    margin-bottom: 20px;
}
.hero-item-one p {
	font-size: 56px;
    margin-bottom: 20px;
}
/* hero area end */

/* vision area start */
.vision-area {
	padding: 60px 0;
}
.vision-item {
	margin: 0 auto;
	width: 1280px;
}
.vision-item h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.vision-item p {
	color: #4e4747;
	margin-bottom: 15px;
}
.card-item {
	border-radius: 10px;
	padding: 20px;
}
.vision-card {
	display: grid;
	align-items: center;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}
.card-item h5 {
	font-size: 20px;
	margin: 15px 0;
}
.card-btn {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
    cursor: pointer;
}
.blue{
    background-color: blue;
    transition: .4s;
}
.blue:hover{
    background-color: black;
}
.orange{
    background-color: orange;
    transition: .4s;
}
.orange:hover{
    background-color: black;
}
.green{
    background-color: green;
    transition: .4s;
}
.green:hover{
    background-color: black;
}
/* vision area end */
/* bonus area start */
.bonus-area {
	width: 1280px;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #d3bdb8;
	border-radius: 10px;
    background-color: white;
}
.bonus-area p {
	padding-top: 25px;
	color: gray;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
}
.bonus-area h4 {
	font-size: 20px;
	padding-top: 10px;
}
.bonus-area span {
	color: grey;
}
/* bonus area end */

/* recent area start */
.recent-area {
	padding: 60px 0;
}
.recent-area {
	margin: 0 auto;
	width: 1280px;
}
.recent-area h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.recent-area p {
	color: #4e4747;
	margin-bottom: 15px;
}
.recent-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 20px;
}
.card-img img {
	border-radius: 15px;
}
.card-details img {
	padding: 10px 0;
}
.card-details div {
	padding: 10px 0;
}
.card-details div time {
	padding-left: 7px;
}
/* recent area end */

/* donate area start */
.donate-area {
	padding: 60px 0;
}
.donate-area {
	margin: 0 auto;
	width: 1280px;
}
.donate-area h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.donate-area p {
	color: #4e4747;
	margin-bottom: 15px;
}
/* donate area end */
